@import url(http://fonts.googleapis.com/css?family=Delius+Swash+Caps|Raleway:400)

body
	background-color: #f5f5f5

.bg-gray
	background-color: #bbb
	padding-bottom: 5px
	margin-bottom: 30px

.title
	font-family: 'Delius Swash Caps', Helvetica, Arial, Verdana
	text-shadow: 1px 1px #ccc

