body {
  background-color: #ededed; }

h1 {
  font-family: Sanchez, Courier, serif;
  font-weight: normal;
  font-size: 35px; }

footer {
  height: 100px;
  margin-bottom: 60px; }

.serif {
  font-family: Sanchez, Courier, serif; }

#top {
  background-color: #bbbbbb;
  height: 35px;
  text-align: right;
  padding-top: 5px; }

#gray {
  padding-top: 120px;
  padding-bottom: 21px;
  background-color: #bbbbbb;
  margin-bottom: 25px; }

#title {
  text-shadow: 1px 1px #cccccc;
  margin-bottom: 3px;
  font-family: Sanchez, "Palatino Linotype", "Book Antiqua", "Courier New", Helvetica, Arial, Verdana; }

#title.knonce {
  font-family: "Indie Flower", Sanchez, "Palatino Linotype", "Book Antiqua", "Courier New", Helvetica, Arial, Verdana; }

.title-line {
  color: #555555;
  font-style: italic; }

@media (min-width: 1200px) {
  .in-row {
    margin-left: 180px; } }
@media (max-width: 1199px) and (min-width: 980px) {
  .in-row {
    margin-left: 130px; } }
@media (max-width: 979px) and (min-width: 768px) {
  .in-row {
    margin-left: 82px; } }
@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px; }

  .row {
    padding-left: 20px;
    padding-right: 20px; }

  #gray {
    padding-top: 40px; } }
