body {
  background-color: #edebea; }

h1 {
  font-family: Sanchez, Courier, serif;
  font-weight: normal;
  font-size: 35px; }

.serif {
  font-family: Sanchez, Courier, serif; }

.wrap {
  padding-left: 15px;
  padding-right: 15px; }

#gray {
  padding-top: 120px;
  padding-bottom: 21px;
  background-color: #bbbbbb;
  margin-bottom: 25px; }

#title {
  text-shadow: 1px 1px #cccccc;
  margin-bottom: 3px;
  font-family: Sanchez, "Palatino Linotype", "Book Antiqua", "Courier New", Helvetica, Arial, Verdana, serif;
  width: 570px;
  max-width: 100%; }

#title.knonce {
  font-family: "Indie Flower", Sanchez, "Palatino Linotype", "Book Antiqua", "Courier New", Helvetica, Arial, Verdana, serif; }

.title-line {
  color: #555555;
  font-style: italic; }

footer {
  margin-top: 30px;
  margin-bottom: 80px; }

.knonce-tag {
  opacity: 0.2;
  transition: opacity 0.35s ease-out;
  -webkit-transition: opacity 0.35s ease-out; }

.knonce-tag:hover, knonce-tag:focus {
  opacity: 0.7; }

@media (min-width: 1200px) {
  .in-row {
    margin-left: 230px; } }
@media (max-width: 1199px) and (min-width: 980px) {
  .in-row {
    margin-left: 130px; } }
@media (max-width: 979px) and (min-width: 768px) {
  .in-row {
    margin-left: 82px; } }
@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px; }

  #gray {
    padding-top: 40px; } }
.tag {
  background-color: #dddddd;
  display: inline-block;
  font-family: Sanchez, Courier, serif;
  font-size: 12px;
  margin-top: 15px;
  padding-right: 5px;
  padding-left: 5px; }

.author {
  color: #409997;
  background-color: #efefef; }

.info {
  color: #666666; }

.highlight {
  padding-top: 20px;
  padding-bottom: 30px;
  max-width: 100%;
  width: 570px; }
  .highlight h1 {
    color: #409997;
    font-size: 25px;
    font-family: Sanchez, "Palatino Linotype", "Book Antiqua", "Courier New", Helvetica, Arial, Verdana, serif;
    font-weight: normal;
    line-height: 1.2em; }
  .highlight p {
    margin-bottom: 0px; }

.content {
  padding-top: 0px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  max-width: 100%;
  width: 570px; }
  .content p {
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 25px; }

#bright {
  background-color: #bbbbbb; }

.klist {
  width: 590px;
  max-width: 100%;
  margin: 20px 0px 20px 0px;
  padding: 5px 5px 5px 5px; }
  .klist li {
    display: block;
    font-family: Verdana, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0px;
    padding: 0px; }
    .klist li a {
      color: #333333;
      display: block;
      padding: 10px; }
    .klist li a:hover, .klist li a:focus {
      text-decoration: none;
      background-color: #fdfdfd;
      color: #444444; }
