body {
  color: #888888;
  font-family: "calluna-1", "calluna-2"; }

a {
  color: #222222; }

a:hover {
  background-color: #222222;
  color: white;
  text-decoration: none; }

#neck {
  margin-top: 45px;
  margin-bottom: 20px; }

.title {
  color: #787833;
  font-family: "museo-1", "museo-2"; }
