#title {
  color: #fcfcfc;
  font-size: 60px;
  font-weight: 400;
  margin-top: 40px; }

.title-line {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  font-family: Sanchez, "Helvetica Neue";
  display: inline-block; }
