$bg-light: #ededed
$bg-dark: #bbb
$serif: Sanchez, Courier, serif
$title: Sanchez, 'Palatino Linotype', 'Book Antiqua', 'Courier New', Helvetica, Arial, Verdana

body
	background-color: $bg-light

h1
	font-family: $serif
	font-weight: normal
	font-size: 35px

footer
	height: 100px
	margin-bottom: 60px

.serif
	font-family: $serif

#top
	background-color: $bg-dark
	height: 35px
	text-align: right
	padding-top: 5px

#gray
	background-color: $bg-dark
	padding-top: 120px
	padding-bottom: 21px
	margin-bottom: 25px

#title
	text-shadow: 1px 1px #ccc
	margin-bottom: 3px
	font-family: $title

#title.knonce
	font-family: 'Indie Flower', $title

.title-line
	color: #555
	font-style: italic


// #top a
// 	display: inline-block
// 	color: #fff
// 	font-family: $serif

// #top a:hover
// 	text-decoration: none

// #top a:active
// 	margin-top: 1px

// #gray

// 	h1
// 		margin-bottom: 6px

// .nav-tabs
// 	border-bottom-color: $tab-border-color
// 	margin-bottom: 45px

// .nav-tabs > li > a:hover, .nav-tabs > li > a:focus
// 	border-color: transparent transparent $tab-border-color

// .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus
// 	border: 1px solid $tab-border-color
// 	border-bottom-color: transparent
// 	background-color: $bg-light

// .form-horizontal .control-label
// 	width: 120px

// .form-horizontal .controls
// 	margin-left: 140px

// div.control-label
// 	margin-bottom: 5px

// .help-inline
// 	display: inline-block

// .help-inline.only
// 	margin-top: 5px
// 	padding-left: 0px
// 	color: #409997

// .help-inline.no-space
// 	padding-left: 0px

// .help-inline.gray
// 	color: #999

// .help-inline.red
// 	color: #CC0000

// .form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append
// 	font-family: $serif

@media (max-width: 767px)
	body
		padding-left: 0px
		padding-right: 0px 

	.row
		padding-left: 20px
		padding-right: 20px

	#gray
		padding-top: 40px

// 	.form-horizontal .control-label
// 		width: auto

// 	.form-horizontal .controls
// 		margin-left: 0px

// 	footer
// 		margin-bottom: 0px

