$bg-light: #edebea
$bg-dark: #bbb
$text: #121212
$green: #409997
$blue: #0B54DB
$orange: #BF7021
$serif: Sanchez, Courier, serif
$title: Sanchez, 'Palatino Linotype', 'Book Antiqua', 'Courier New', Helvetica, Arial, Verdana, serif
$sans-serif: Arial, Verdana, sans-serif
$article-width: 570px
$wrap-padding: 15px

body
	background-color: $bg-light
	color: #121212
	font-family: $sans-serif

h1
	font-family: $serif
	font-weight: normal
	font-size: 35px

.serif
	font-family: $serif

.wrap
	padding-left: $wrap-padding
	padding-right: $wrap-padding

#gray
	padding-top: 120px
	padding-bottom: 21px
	background-color: $bg-dark
	margin-bottom: 25px

#title
	text-shadow: 1px 1px #ccc
	margin-bottom: 3px
	font-family: $title
	width: $article-width
	max-width: 100%

#title.knonce
	font-family: 'Indie Flower', $title

.title-line
	font-style: italic

footer
	margin-top: 30px
	margin-bottom: 80px

.knonce-tag
	opacity: 0.2

	transition: opacity 0.35s ease-out
	-webkit-transition: opacity 0.35s ease-out

.knonce-tag:hover, knonce-tag:focus
	opacity: 0.7

@media (min-width: 1200px)
	.in-row
		margin-left: 230px

@media (max-width: 1199px) and (min-width: 980px)
	.in-row
		margin-left: 130px

@media (max-width: 979px) and (min-width: 768px)
	.in-row
		margin-left: 82px

@media (max-width: 767px)
	body
		padding-left: 0px
		padding-right: 0px 

	#gray
		padding-top: 40px

@media (max-width: 480px)
	.knonce-tag
		text-align: center

// HOMEPAGE LIST

#alist
	max-width: 100%
	width: $article-width + 2 * $wrap-padding

ul.klist
	list-style: none
	margin: 10px 0px 50px 0px

	li
		a
			background-color: $bg-light
			display: block
			padding: 2px 15px 2px 15px
			text-decoration: none

			transition: background-color 0.35s ease-out
			-webkit-transition: background-color 0.35s ease-out

			h1, h2
				color: $text
				font-size: 15px
				font-family: Arial
				font-weight: bold
				line-height: 1.25em
				text-decoration: none

			p
				border-left: 3px solid #ccc
				color: #666
				font-size: 13px
				padding-left: 10px

		a:hover, a:focus
			background-color: #f5f5f5

	li.date
		border-bottom: 1px solid #f9f9f9
		color: #333
		font-family: $serif
		font-size: 13px
		text-shadow: 1px 1px #f9f9f9
		padding: 5px 15px 5px 15px
		margin-bottom: 0px
		
// CONTENT PAGE

.tag
	background-color: #ddd
	display: inline-block
	font-family: $serif
	font-size: 12px
	margin-top: 5px
	padding-right: 5px
	padding-left: 5px

.author
	color: $green
	background-color: #efefef

.info
	color: #666

.content
	padding-top: 0px
	padding-bottom: 30px
	margin-bottom: 30px
	max-width: 100%
	width: $article-width

	p
		font-size: 15px
		line-height: 160%
		margin-bottom: 25px
