$bg-light: #ededed
$bg-dark: #bbb
$green: #409997
$blue: #0B54DB
$orange: #ff9500
$serif: Sanchez, Courier, serif
$title: Sanchez, 'Palatino Linotype', 'Book Antiqua', 'Courier New', Helvetica, Arial, Verdana, serif
$sans-serif: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif

body
	background-color: $bg-light

h1
	font-family: $serif
	font-weight: normal
	font-size: 35px

.serif
	font-family: $serif

#top
	background-color: $bg-dark
	height: 35px
	text-align: right
	padding-top: 5px

#gray
	padding-top: 120px
	padding-bottom: 21px
	background-color: $bg-dark
	margin-bottom: 25px

#title
	text-shadow: 1px 1px #ccc
	margin-bottom: 3px
	font-family: $title

#title.knonce
	font-family: 'Indie Flower', $title

.title-line
	color: #555
	font-style: italic

footer
	margin-top: 80px
	margin-bottom: 30px

.knonce-tag
	opacity: 0.2

	transition: opacity 0.35s ease-out
	-webkit-transition: opacity 0.35s ease-out

.knonce-tag:hover, knonce-tag:focus
	opacity: 0.7

@media (min-width: 1200px)
	.in-row
		margin-left: 230px

@media (max-width: 1199px) and (min-width: 980px)
	.in-row
		margin-left: 130px

@media (max-width: 979px) and (min-width: 768px)
	.in-row
		margin-left: 82px

@media (max-width: 767px)
	body
		padding-left: 0px
		padding-right: 0px 

	.row
		padding-left: 20px
		padding-right: 20px

	#gray
		padding-top: 40px

// HOMEPAGE LIST

.klist
	border-bottom: 1px solid #fdfdfd
	padding-bottom: 30px
	max-width: 100%
	width: 570px

	h1
		color: $green
		font-size: 25px
		font-family: $serif
		font-weight: normal
		line-height: 1.2em

	p
		line-height: 160%

	.tag
		background-color: #f9f9f9
		display: inline-block
		font-family: $serif
		font-size: 12px
		margin-bottom: 5px
		padding-right: 5px
		padding-left: 5px

	.author
		color: $orange

	.info
		color: #333
