{% extends "base.html" %}

{% block head %}
<link href="css/home.css" rel="stylesheet">
{% endblock %}

{% block body_dark %}
<h1 id="title" class="title">knonce</h1>
<div class="title-line">sync with notebook,</div>
<div class="title-line">share your views and great ideas</div>
{% endblock %}

{% block body_light %}
	{% if logged_in %}
		<p class="serif">
			Hey, there!<br/>
			View your <a href="/settings" class="">Account Settings</a> here.
		</p>
	{% elif beta is defined and beta %}
		<p class="serif">
			Got you in the line!<br>
			We will send an email to you when rolling out to more users.<br>
			<br>
			Thank you!
		</p>
	{% else %}
		<p class="serif">
			<a href="/auth/google" class="kbtn"><img src="/img/btn_google.png"></a><br>
			<br>
			Login to get in the line for our beta test.<br>
			For members, login to manage your account.
		</p>
	{% endif %}
{% endblock %}
