{% extends "base.html" %}

{% block title %}
Settings | Knonce
{% endblock %}

{% block head %}
<style>
#nb-select-name a [class^="icon-"] {
	color: #999;
	margin-left: 5px;
	margin-right: 5px;
}

#nb-select-name a [class^="icon-"]:hover, #nb-select-name a [class^="icon-"]:active {
	color: #333;
	text-decoration: none;
}

#nb-select-name a [class^="icon-"].icon-spin:hover, #nb-select-name a [class^="icon-"].icon-spin:active {
	color: #999;
}
</style>
{% endblock %}

{% block body_dark %}
<h1>Settings</h1>
{% endblock %}

{% block body_light %}
<ul id="menu" class="nav nav-tabs">
	<li class="active"><a href="#notebook" data-toggle="tab">Notebook</a></li>
	<li><a href="#account" data-toggle="tab">Account</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="notebook">
		{% if msg is defined and msg.tab == 'notebook' %}
			<div class="alert alert-{{ msg.type }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>{{ msg.title }}</strong>
				{{ msg.body }}
			</div>
		{% endif %}

		{% if unit is defined %}
			<form id="nb" class="form-horizontal">
				<div class="control-group">
					<div class="control-label">alias</div>
					<div class="controls">
						<span class="help-inline no-space">http://</span>
						<input class="input-medium" type="text" name="alias" value="{{unit.alias}}"></input>
						<span class="help-inline no-space">.{{ host }}/</span>
					</div>
				</div>
				<div class="control-group">
					<div class="control-label">notebook</div>
					<div id="nb-select" class="controls">
						<select class="hide"></select>
						<span id="nb-select-spin" class="help-inline hide">
							<i class="icon-spinner icon-spin icon-large"></i>
						</span>
						<span id="nb-select-name" class="help-inline only">
							{% if unit.notebook_name is not none %}
								<span>{{unit.notebook_name}}</span> <a href="#" id="nb-select-name-refresh" class="kl-tooltip" data-placement="right" title="Click here to refresh the name of your syncing notebook."><i class="icon-refresh"></i></a>
							{% else %}
								<a href="#" class="kl-tooltip" id="nb-select-name-list" data-placement="right" title="Click to change your notebook.">Choose a notebook to start!</a>
							{% endif %}
						</span>
						<span id="nb-select-msg" class="help-inline only hide"></span>
					</div>
				</div>
				<div class="control-group">
					<div id="nb-select" class="controls">
						<button class="btn btn-primary" type="submit">Save</button>
						<span id="nb-msg" class="help-inline hide"></span>
						<span id="nb-spin" class="help-inline hide">
							<i class="icon-spinner icon-spin icon-large"></i>
						</span>
					</div>
				</div>
				<input type="hidden" name="choose_notebook" value="false"></input>
				<input type="hidden" name="notebook_name" value="{{unit.notebook_name}}"></input>
				<input type="hidden" name="notebook_guid" value="{{unit.notebook_guid}}"></input>
			</form>
		{% else %}
			<p>
				Let's get started by coonecting your Evernote account.
			</p>
			<p>
				<a class="kbtn" href="/auth/evernote"><img src="/img/btn_en.png" width="200" alt="Connect Evernote"></a>
			</p>
		{% endif %}
	</div>
	<div class="tab-pane" id="account">
		{% if msg is defined and msg.tab == 'account' %}
			<div class="alert alert-{{ msg.type }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>{{ msg.title }}</strong>
				{{ msg.body }}
			</div>
		{% endif %}

		<form id="form-account" class="form-horizontal">
			<div class="control-group">
				<div class="control-label">name</div>
				<div class="controls">
					{% if user.en_name %}
					<span class="help-inline only">{{user.en_name}}</span>
					{% else %}
					<span class="help-inline only gray">wait to sync with Evernote</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">display-name</label>
				<div class="controls">
					<input class="input-large" type="text" name="display" placeholder="Spiderman" value="{{user.display}}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">emaill</label>
				<div class="controls">
					<input class="input-large" type="email" name="email" placeholder="you@domain.com" value="{{user.email}}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">bio</label>
				<div class="controls">
					<textarea id="f-acct-bio" class="input-xlarge" name="bio" rows="3" placeholder="tell us a little bit about you...">{{user.bio}}</textarea><br/>
					<span id="f-acct-bio-limit" class="help-inline only gray">max 500 characters</span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button id="f-acct-btn" class="btn btn-primary" type="submit" name="submit">Save</button>
					<span id="f-acct-msg" class="help-inline hide"></span>
					<span id="f-acct-spin" class="help-inline hide">
						<i class="icon-spinner icon-spin icon-large"></i>
					</span>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block hidden %}

{% endblock %}

{% block script %}
<script src="/script/settings.js"></script>
{% endblock %}
