{% extends "base.html" %}

{% block title %}
Settings | Knonce
{% endblock %}

{% block body_dark %}
<h1>Settings</h1>
{% endblock %}

{% block body_light %}
<ul id="menu" class="nav nav-tabs">
	<li class="active"><a href="#notebook" data-toggle="tab">Notebook</a></li>
	<li><a href="#account" data-toggle="tab">Account</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="notebook">
		{% if done is defined and (done == 'connect_en' or done == 'notebook') %}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Success!</strong>
				{% if done == 'notebook' %}
				Your notebook selection is updated.
				{% elif done == 'connect_en' %}
				We have connected to your Evernote account.
				{% endif %}
			</div>
		{% elif not_done is defined and (not_done == 'connect_en' or not_done == 'notebook') %}
			<div class="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Sorry!</strong>
				{% if not_done == 'notebook' %}
				We failed to save your changes. Please give it a try later, or contact support.
				{% elif not_done == 'connect_en' %}
				We failed to connect with your Evernote account. Please give it a try later, or contact support.
				{% endif %}
			</div>
		{% endif %}

		{% if unit is not none %}
			<form class="form-horizontal">
				<div class="control-group">
					<div class="control-label">username</div>
					<div class="controls">
						<span class="help-inline only">{{unit.username}}</span>
					</div>
				</div>
				<div class="control-group">
					<div class="control-label">notebook</div>
					<div class="controls">
						<div class="hide">
							<select id="nblist" name="notebook"></select>
						</div>
						<span class="help-inline only">
							<a href="#" onClick="nbChoose();" class="kl-tooltip" data-placement="right" title="Click to edit notebook selection.">{{unit.notebook_name}}</a>
						</span>
					</div>
				</div>
			</form>
		{% else %}
			<p>
				Let's get started by coonecting your Evernote account.
			</p>
			<p>
				<a class="kbtn" href="/auth/evernote"><img src="/img/btn_en.png" width="200" alt="Connect Evernote"></a>
			</p>
		{% endif %}
	</div>
	<div class="tab-pane" id="account">
		{% if done is defined and done == 'account' %}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Success!</strong>
				Your account information is updated.
			</div>
		{% elif not_done is defined and not_done == 'account' %}
			<div class="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Sorry!</strong>
				We failed to save your changes. Please give it a try later, or contact support.
			</div>
		{% endif %}

		<form id="form-account" class="form-horizontal" method="post" action="/settings/update/account">
			<div class="control-group">
				<div class="control-label">name</div>
				<div class="controls">
					{% if user.en_name %}
					<span class="help-inline only">{{user.en_name}}</span>
					{% else %}
					<span class="help-inline only gray">wait to sync with Evernote</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">display-name</label>
				<div class="controls">
					<input class="input-large" type="text" name="display" placeholder="Spiderman" value="{{user.display}}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">emaill</label>
				<div class="controls">
					<input class="input-large" type="email" name="email" placeholder="you@domain.com" value="{{user.email}}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">bio</label>
				<div class="controls">
					<textarea id="f-acct-bio" class="input-xlarge" name="bio" rows="3" placeholder="tell us a little bit about you...">{{user.bio}}</textarea><br/>
					<span id="f-acct-bio-limit" class="help-inline only gray">max 500 characters</span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button id="f-acct-btn" class="btn btn-info" type="submit" name="submit">Update</button><span id="f-acct-msg" class="help-inline"></span>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block hidden %}

{% endblock %}

{% block script %}
<script src="/script/settings.js"></script>
<script>
	{# default tap #}
	{% if show is defined and show == 'account' %}
	$('#menu a[href="#account"]').tab('show');
	{% endif %}
</script>
{% endblock %}
