{% extends "base.html" %}

{% block title %}
edit-account // mxchar
{% endblock %}

{% block neck %}
<h1 class="title">mxchar</h1>
<div class="mxc-block mxc-bread">
	<i class="fa fa-terminal fa-fw"></i>
	<h2 class="mxc-text">
		<a href="/setup">setup</a>
		<i class="fa fa-angle-right fa-fw"></i>
		edit-account
	</h2>
</div>
{% endblock %}

{% block chest %}
<form class="mxc-form" role="form" method="post">
	<div class="form-group">
		<label for="user-name">Name</label>
		<input type="text" class="form-control" id="user-name" name="name" placeholder="<empty name>" value="{{user.name}}">
	</div>
	<div class="form-group">
		<label for="user-mail">Mail</label>
		<input type="text" class="form-control" id="user-mail" name="mail" placeholder="<empty mail>" value="{{user.mail}}">
	</div>
	<div class="form-group">
		<br>
		<button type="submit" class="btn btn-default mxc-text">Submit</button>
	</div>
</form>
{% endblock %}
