<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{{ unit.title + ' ' if unit is defined else '' }}{% endblock %}// Knonce</title>

	<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>

	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" type="text/css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="http://{{ host }}/css/zocial.css" rel="stylesheet" type="text/css">
	<link href="http://{{ host }}/css/unit/base.css" rel="stylesheet" type="text/css">

	{% block head %}{% endblock %}
</head>
<body>

	<header id="gray" class="row">
	<div class="in-row span10">
	{% block body_dark %}{% endblock %}
	</div>
	</header>

	<div class="row">
	<div class="in-row span10">
	{% block body_light %}{% endblock %}
	</div>
	</div>
	
	<footer class="row">
	<div class="in-row span10">
		{% block footer %}{% endblock %}
	</div>
	</footer>

	{% block hidden %}{% endblock %}

	<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	{% block script %}{% endblock %}

	<!-- Google Analytics BEGIN -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-108129-13', 'knonce.com');
	ga('send', 'pageview');
	</script>
	<!-- Google Analytics END -->
</body>
</html>