{% extends "unit/base.html" %}


{% block body_dark %}
<h1 id="title" class="title">My Random Notes</h1>
<!-- <h1 id="title" class="title">做，與不做之間</h1> -->
<div class="title-line">To be, or not to be, that's the question.</div>
{% endblock %}
		
{% block body_light %}
<section>
	<div class="klist">
		<h1>How to code with Python and SASS</h1>
		<p>
			Kenneth Widmerpool is a fictional character in Anthony Powell's novel sequence A Dance to the Music of Time, a 12-volume account of upper-class and bohemian life in Britain between 1920 and 1970. Widmerpool is the antithesis of the sequence's narrator-hero Nicholas Jenkins. Initially presented as a comic, even pathetic figure, he becomes increasingly formidable, powerful and ultimately sinister as the novels progress...
		</p>
	</div>
</section>
{% endblock %}

{% block footer %}
<div>
	<a href="http://www.knonce.com" class="knonce-tag"><img src="/img/knonce_tag.png" width="80"></a>
</div>
{% endblock %}