{% extends "unit/base.html" %}


{% block body_dark %}
<div class="wrap">
	<h1 id="title" class="title">My Random Notes</h1>
	<!-- <h1 id="title" class="title">做，與不做之間</h1> -->
	<div class="title-line">To be, or not to be, that's the question.</div>
</div>
{% endblock %}
		
{% block body_light %}
{#
<section class="wrap">
	<div class="highlight">
		<h1>How to code with Python and SASS</h1>
		<p>
			Kenneth Widmerpool is a fictional character in Anthony Powell's novel sequence A Dance to the Music of Time, a 12-volume account of upper-class and bohemian life in Britain between 1920 and 1970. Regarded by critics as one of the more memorable characters of 20th century fiction, Widmerpool is the antithesis of the sequence's narrator-hero Nicholas Jenkins. Initially presented as a comic, even pathetic figure, he becomes increasingly formidable.
		</p>
		<p>
			Life in Britain between 1920 and 1970. Regarded by critics as one of the more memorable characters of 20th century fiction, Widmerpool is the antithesis of the sequence's narrator-hero Nicholas Jenkins. Initially presented as a comic, even pathetic figure, he becomes increasingly formidable
		</p>
		<p>
			Kenneth Widmerpool is a fictional character in Anthony Powell's novel sequence A Dance to the Music of Time, a 12-volume account of upper-class and bohemian life in Britain between 1920 and 1970. Regarded by critics as one of.
	</div>
</section>
#}

<section id="alist">
<h1 class="hide">Article List</h1>
<ul class="klist">
	<li class="date">Wednesday, April 25, 2013</li>
	<li>
		<a href="#">
			<h1>Synchronize with your Evernote account, Knonce.com made it easy to main a blog</h1>
			<p>
				Kenneth Widmerpool is a fictional character in Anthony Powell's novel sequence A Dance to the Music of Time, a 12-volume account of upper-class and bohemian life in Britain...
			</p>
		</a>
	</li>
</ul>
<ul class="klist">
	<li class="date">Tuesday, April 24, 2013</li>
	<li>
		<a href="#">
			<h1>25 iPhone 5 software secret tips</h1>
			<p>
				Kenneth Widmerpool is a fictional character in Anthony Powell's novel sequence A Dance to the Music of Time, a 12-volume account of upper-class and bohemian life in Britain...
			</p>
		</a>
	</li>
	<li>
		<a href="#">
			<h1>The year of Bitcoin: Mining 101</h1>
			<p>
				Kenneth Widmerpool is a fictional character in Anthony Powell's novel sequence A Dance to the Music of Time, a 12-volume account of upper-class and bohemian life in Britain...
			</p>
		</a>
	</li>
	<li>
		<a href="#">
			<h1>Start building your webpages with responsive design concepts</h1>
			<p>
				Kenneth Widmerpool is a fictional character in Anthony Powell's novel sequence A Dance to the Music of Time, a 12-volume account of upper-class and bohemian life in Britain...
			</p>
		</a>
	</li>
</ul>
<ul class="klist">
	<li class="date">Monday, April 23, 2013</li>
	<li>
		<a href="#">
			<h1>Synchronize with your Evernote account, Knonce.com made it easy to main a blog</h1>
			<p>
				Kenneth Widmerpool is a fictional character in Anthony Powell's novel sequence A Dance to the Music of Time, a 12-volume account of upper-class and bohemian life in Britain...
			</p>
		</a>
	</li>
</ul>
<ul class="klist">
	<li class="date">Tuesday, April 24, 2013</li>
	<li>
		<a href="#">
			<h1>The year of Bitcoin: Mining 101</h1>
			<p>
				Kenneth Widmerpool is a fictional character in Anthony Powell's novel sequence A Dance to the Music of Time, a 12-volume account of upper-class and bohemian life in Britain...
			</p>
		</a>
	</li>
</ul>
</section>
{% endblock %}

{% block footer %}
<div class="wrap">
	<a href="http://www.knonce.com" class="knonce-tag"><img src="/img/knonce_tag.png" width="80"></a>
</div>
{% endblock %}