{% extends "unit/base.html" %}


{% block body_dark %}
<div class="wrap">
	<h1 id="title" class="title">How to code with Python and SASS</h1>
	<!-- <h1 id="title" class="title">做，與不做之間</h1> -->
	<div class="author tag">Kai-Hsin Liu</div>
	<div class="info tag">Tuesday, April 23, 2013 1:31am</div>
</div>
{% endblock %}
		
{% block body_light %}
<section class="wrap">
	<div class="content">
		<p>
			一般標準意義上，「漢語」這個詞，指現代標準漢語[來源請求] ，以北京話為標準語音、以北方官話為基礎方言、以典範的現代白話文著作為語法規範。在非表音情況下，僅指現代白話文的書面語，其他的方言白話文不能作為書面語。大中華地區的中小學中教授漢語的文字、語法、文學等的科目叫語文、中文、國文等，都是中國語文科之謂。中華人民共和國、中華民國的語文課，以普通話（國語）授課；在香港和澳門因為擁有自己的法律和行政權，所以學校會以粵語授課。中華人民共和國的「普通話」、臺灣的「國語」、新馬地區的「中國國語」是相同的，只在個別字詞的讀音上有些微區別。此外，臺灣、香港和澳門是目前以繁體中文為法定文字的地區。
		</p>
		<p>
			而漢語作為一個語種是普通話/國語、粵語、吳語、閩南語、客家語等語言的統稱。漢語是聯合國的六種正式語言和工作語言之一，亦為當今世界上作為母語使用人數最多的語言。在臺灣，香港地區，澳門地區和新加坡，漢語被定為官方語言，而在中華人民共和國作為非法定的行政用語。 很多國家都開始將漢語列為第二外語，加入授課內容。
		</p>
		<p>		
			在2007年的國際認證 ISO 639-3 國際語種代號的編製中，國際標準化組織把漢語分為13種方言，cdo – 閩東方言，cjy – 晉方言，cmn – 官方言，cpx – 莆仙方言，czh – 徽方言，czo – 閩中方言，gan – 贛方言，hak – 客家方言，hsn – 湘方言，mnp – 閩北方言，nan – 閩南方言，wuu – 吳方言，yue – 粵方言。
		</p>
		<p>
			目前，中國大陸以普通話為通用語言，臺灣以國語為通用語言，兩者有一些不同之處，但不妨礙交流。同時在兩廣地區、香港與澳門等地區以及部份海外華人以粵語作為通用語，另外使用潮州話、閩南話、客家話、吳語等或其他家鄉語言（漢語）的人會使用自己的母語作為交際通用語言。
		</p>
		<p>
			漢語作為以語素文字為文字系統的語言，文字高度的統一與規範，現代漢語有統一和規範的語法。而漢字在表音上面更富於變化。在漫長的歷史時期、廣袤的領土疆域內，漢字的讀音有一定因時因地的變遷，並導致方言的產生。但是漢語書面語言規範，消除了因為方言差異造成的交流障礙。
		</p>
		<p>
			白話文運動之前所使用的書面語叫做「文言」，是一種以上古漢語所使用的以「雅言」為基礎的書面語。在現代漢語的書面語中，雖然文言已經很少使用了，但是在臺灣、香港、澳門和中國大陸的中國語文教學中，文言文仍然佔有重要的地位。白話文運動之後所推動的書面漢語通常被稱為「白話」，即以北方官話為基礎的現代書面語。
		</p>
		<p>
			文言文在古代的一些東亞、東南亞國家都是官方行文的標準，而現時東亞國家使用文言文亦可交流，但是這種傳統的語言因為使用者越來越少，而改為使用現代文體，及學習外語來交流。
		</p>
	</div>
</section>
{#
<ul id="bright" class="klist">
	<li><a href="#">25 iPhone 5 software secret tips</a></li>
	<li><a href="#">The year of Bitcoin: Mining 101</a></li>
	<li><a href="#">Start building your webpages with responsive design concepts</a></li>
	<li><a href="#">Synchronize with your Evernote account, Knonce.com made it easy to main a blog</a></li>
	<li><a href="#">Enjoy city travel around your neighborhood</a></li>
</ul>
#}
{% endblock %}

{% block footer %}
<div class="wrap">
	<a href="http://www.knonce.com" class="knonce-tag"><img src="/img/knonce_tag.png" width="80"></a>
</div>
{% endblock %}