{% extends "unit/base.html" %}


{% block body_dark %}
<div class="wrap">
	<h1 id="title" class="title">How to code with Python and SASS</h1>
	<!-- <h1 id="title" class="title">做，與不做之間</h1> -->
	<div class="author tag">Kai-Hsin Liu</div>
	<div class="info tag">Tuesday, April 23, 2013 1:31am</div>
</div>
{% endblock %}
		
{% block body_light %}
<section class="wrap">
	<div class="content">
		<p>
			Kenneth Widmerpool is a fictional character in Anthony Powell's novel sequence A Dance to the Music of Time, a 12-volume account of upper-class and bohemian life in Britain between 1920 and 1970. Regarded by critics as one of the more memorable characters of 20th century fiction, Widmerpool is the antithesis of the sequence's narrator-hero Nicholas Jenkins. Initially presented as a comic, even pathetic figure, he becomes increasingly formidable, powerful and ultimately sinister as the novels progress. He is successful in business, in the army and in politics, and is awarded a life peerage. His only sphere of failure is his relationships with women, exemplified by his disastrous marriage to Pamela Flitton. The sequence ends with Widmerpool's downfall and death, in bizarre circumstances arising from his involvement with a depraved New Age-type cult.
		</p>
		<p>
			Literary analysts have noted Widmerpool's main defining characteristics as a lack of culture, small-mindedness, and a capacity for intrigue; generally, he is thought to embody many of the worst aspects of the British character. However, he has the ability to rise above numerous insults and humiliations that beset him to achieve positions of dominance through dogged industry and self-belief. In this respect he represents the meritocratic middle class's challenge to the declining power of the traditional "establishment" or ruling group, which is shown to be vulnerable to a determined assault from this source.
		</p>
		<p>
			Among the more prominent names suggested as real-life models for Widmerpool have been Edward Heath, the British prime minister 1970–74, and Reginald Manningham-Buller who was Britain's Attorney General in the 1950s. Others of Powell's contemporaries have made claims to be the character's source, although Powell gave little encouragement to such theorising. Widmerpool has been portrayed in two BBC radio dramatisations of the novel sequence (1979–82 and 2008), and in Channel 4's television filmed version broadcast in 1997.
		</p>
	</div>
</section>
{#
<ul id="bright" class="klist">
	<li><a href="#">25 iPhone 5 software secret tips</a></li>
	<li><a href="#">The year of Bitcoin: Mining 101</a></li>
	<li><a href="#">Start building your webpages with responsive design concepts</a></li>
	<li><a href="#">Synchronize with your Evernote account, Knonce.com made it easy to main a blog</a></li>
	<li><a href="#">Enjoy city travel around your neighborhood</a></li>
</ul>
#}
{% endblock %}

{% block footer %}
<div class="wrap">
	<a href="http://www.knonce.com" class="knonce-tag"><img src="/img/knonce_tag.png" width="80"></a>
</div>
{% endblock %}