{% extends "unit/base.html" %}

{% block title %}{{ note.title }} / {{ unit.title }} {% endblock %}

{% block body_dark %}
<div class="wrap">
	<h1 id="title" class="title">{{ note.title }}</h1>
	{% if unit.display is defined and unit.display != '' %}
	<div class="author tag">{{ unit.display }}</div>
	{% endif %}
	<div class="info tag">{{ note.date.strftime('%A, %B %d, %Y %I:%M') + note.date.strftime('%p').lower() }}</div>
</div>
{% endblock %}
		
{% block body_light %}
<section class="wrap">
	<div class="content">
		{{ note.content }}
	</div>
</section>
{% endblock %}

{% block footer %}
<div class="wrap">
	<a href="http://www.knonce.com" class="knonce-tag"><img src="/img/knonce_tag.png" width="80"></a>
</div>
{% endblock %}